*.patch
*.pyc
*.log
*.so
*.so.old
*.swp
*.class
*.classpath
*.project
*.pydevproject
*.settings

tmp/*
.DS_Store
.idea/
pkg/
Gemfile.lock
*.swp
core/target
core/dependency-reduced-pom.xml
.settings/
.classpath
.project
*~
core/bin/
